.navigation{

  &__toggler {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__button {
    background: $ball-blue;
    border: 2px solid $ball-blue;
    color: $white;
    font-family: $open-sans;
    padding: 0.5rem;
    margin-left: 1.5rem;

    &:hover {
      background: $middle-blue;
      border: 2px solid $middle-blue;
    }

    &:focus {
      background: $gray;
      border: 2px solid $gray;
    }
  }

}

.cardy__button {

  background: $ball-blue;
  border: 2px solid $ball-blue;
  color: $white;
  font-family: $open-sans;

  &:hover {
    background: $middle-blue;
    border: 2px solid $middle-blue;
  }

  &:focus {
    background: $gray;
    border: 2px solid $gray;
  }
  
}
